ZUGFeRD10 RCDATA Schema\1.0\ZUGFeRD1p0.xsd
ZUGFeRD10QualifiedDataType RCDATA Schema\1.0\ZUGFeRD1p0_urn_un_unece_uncefact_data_standard_QualifiedDataType_12.xsd
ZUGFeRD10ReusableAggregateBusinessInformationEntity RCDATA Schema\1.0\ZUGFeRD1p0_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_12.xsd
ZUGFeRD10UnqualifiedDataType RCDATA Schema\1.0\ZUGFeRD1p0_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_15.xsd

ZUGFeRD21MINIMUM RCDATA "Schema\2.1\MINIMUM\FACTUR-X_MINIMUM.xsd"
ZUGFeRD21MINIMUMQualifiedDataType RCDATA "Schema\2.1\MINIMUM\FACTUR-X_MINIMUM_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"
ZUGFeRD21MINIMUMReusableAggregateBusinessInformationEntity RCDATA "Schema\2.1\MINIMUM\FACTUR-X_MINIMUM_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd"
ZUGFeRD21MINIMUMUnqualifiedDataType RCDATA "Schema\2.1\MINIMUM\FACTUR-X_MINIMUM_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"

ZUGFeRD21BASICWL RCDATA "Schema\2.1\BASIC-WL\FACTUR-X_BASIC-WL.xsd"
ZUGFeRD21BASICWLQualifiedDataType RCDATA "Schema\2.1\BASIC-WL\FACTUR-X_BASIC-WL_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"
ZUGFeRD21BASICWLReusableAggregateBusinessInformationEntity RCDATA "Schema\2.1\BASIC-WL\FACTUR-X_BASIC-WL_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd"
ZUGFeRD21BASICWLUnqualifiedDataType RCDATA "Schema\2.1\BASIC-WL\FACTUR-X_BASIC-WL_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"

ZUGFeRD21BASIC RCDATA "Schema\2.1\BASIC\FACTUR-X_BASIC.xsd"
ZUGFeRD21BASICQualifiedDataType RCDATA "Schema\2.1\BASIC\FACTUR-X_BASIC_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"
ZUGFeRD21BASICReusableAggregateBusinessInformationEntity RCDATA "Schema\2.1\BASIC\FACTUR-X_BASIC_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd"
ZUGFeRD21BASICUnqualifiedDataType RCDATA "Schema\2.1\BASIC\FACTUR-X_BASIC_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"

ZUGFeRD21EN16931 RCDATA "Schema\2.1\EN16931\FACTUR-X_EN16931.xsd"
ZUGFeRD21EN16931QualifiedDataType RCDATA "Schema\2.1\EN16931\FACTUR-X_EN16931_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"
ZUGFeRD21EN16931ReusableAggregateBusinessInformationEntity RCDATA "Schema\2.1\EN16931\FACTUR-X_EN16931_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd"
ZUGFeRD21EN16931UnqualifiedDataType RCDATA "Schema\2.1\EN16931\FACTUR-X_EN16931_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"

ZUGFeRD21EXTENDED RCDATA "Schema\2.1\EXTENDED\FACTUR-X_EXTENDED.xsd"
ZUGFeRD21EXTENDEDQualifiedDataType RCDATA "Schema\2.1\EXTENDED\FACTUR-X_EXTENDED_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"
ZUGFeRD21EXTENDEDReusableAggregateBusinessInformationEntity RCDATA "Schema\2.1\EXTENDED\FACTUR-X_EXTENDED_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd"
ZUGFeRD21EXTENDEDUnqualifiedDataType RCDATA "Schema\2.1\EXTENDED\FACTUR-X_EXTENDED_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"
